/* General Styling */

body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.822);
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: rgba(12, 12, 12, 0);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(161, 30, 236, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #080808;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid white;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #a19999;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(12, 12, 12);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(238, 192, 192);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
    border-right: 5px solid #080808;
    background-color: grey;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(15, 15, 15);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #aa17ee;
}